#icon {
    height: 62px;
}
body{
    margin: 0%;
}
nav{
display: flex;
align-items: center;
justify-content: space-around;
background-color: rgb(119, 30, 30);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}